img,
svg {
  width: 30px;
  height: 30px;
}

header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 25px;
  background-color: rgb(251, 202, 171);
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
}

.headerInfo {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.hidden {
  display: none;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
}

nav a:hover {
  color: white;
  background-color: black;
  border-radius: 4px;
}

.bannerImg {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box; 
}