.recipes {
  border-radius: 4px;
  background-color: rgb(250, 242, 232);
  box-shadow: 2px 2px 2px rgba(65, 46, 38, 0.5);
  /* margin: 30px; */
  transform: scale(1);
  transition: 0.5s ease;
}

.recipes:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 4px rgba(65, 46, 38, 0.3);
}
